// Font
$mainFont                : 'Roboto', sans-serif;

// Size
$mainFontColor           : #000;
$mainFontSize            : 18px;
$mainFontWeight          : 400;
$mainLineHeight          : 1.4;

// Breakpoints
$desktopWidth            : 1280px;
$smDesktopWidth          : 980px;
$tableWidth              : 768px;
$phoneWidth              : 480px;
$smPhoneWidth            : 320px;

// Main color
$primary-color           : #3F51B5;
$secondary-color         : #304FFE;
$success-color           : #26de81;
$danger-color            : #fc5c65;
$warning-color           : #fed330;
$dark-color              : #000000;   
$light-color             : #ffffff;

